<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mrgn" href="#">RENTAL MANAGEMENT SYSTEM</a>
  <ul id="nav" class="navbar-nav">
    <li><a href="#" class="navbar-toggler">Select Location
      <a class="arrow-down"></a>
    </a>
      <ul>
        <li class="border-top border-secondary" *ngFor="let location of locations" (mouseenter)="branches = null" (click)="setBranch(location)">
          <a>{{location.name}} {{location.branches?.length>0?'»':''}} </a>
          <ul>
            <li class="border-top border-secondary" *ngFor="let branch of branches" (click)="setCategories(branch)"><a>{{branch.name}}</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>


<div class="container">

  <nav aria-label="breadcrumb" *ngIf="branch?.name">
    <ol class="breadcrumb mrgn-top">
      <li class="breadcrumb-item" [ngClass]="{'active':branch?.name}">
        <a href="#" (click)="goToCategory()">{{branch?.name}}</a>
      </li>
      <li class="breadcrumb-item" [ngClass]="{'active':category?.name}" *ngIf="category?.name" aria-current="page">
        {{category?.name}}</li>
    </ol>
  </nav>

  <ng-container *ngIf="!category">
    <app-categories [branch]="branch" (subCategoriesEven)="setSubCategories($event)"></app-categories>
  </ng-container>
  <ng-container>
    <app-sub-categories [category]="category"></app-sub-categories>
  </ng-container>
</div>